/* Colors */
$themeColor: #008fc2;
$whiteColor: #FFF;
$buttonColor: #edc06d;
$blackColor: #000;

/* Media Screen Break Points */
$smallDeivicesMinWidth: 320px;
$smallDeivicesMaxWidth: 767px;
$mediumDevicesMinWidth: 768px;
$mediumDevicesMaxWidth: 1023px;